<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사용자 정보</title>
    <link rel="stylesheet" href="/css/common.css">
    <style>
        input {
            display: block;
        }
    </style>
</head>
<body>
<div id="container">
    <div th:replace="common/header :: header"></div>
    <main id="sub_container">

        <h1>회원 목록</h1>
        <table>
            <tr>
                <th>순번</th>
                <th>회원아이디</th>
                <th>이메일</th>
                <th>삭제</th>
            </tr>
            <tr th:each="user, stat : ${users}">
                <td th:text="${stat.index+1}"></td>
                <td><a th:href="@{/user/edit/{id}(id=${user.custId})}" th:text="${user.userName}"></a>
                <td th:text="${user.email}"></td>
                <td>
                    <form th:action="@{/user/delete}" method="post" onsubmit="return confirmDelete()">
                        <input type="hidden" name="id" th:value="${user.custId}">
                        <button type="submit">삭제</button>
                    </form>
                </td>
            </tr>
        </table>
    </main>
    <div th:replace="common/footer :: footer"></div>
</div>
<script>
    function confirmDelete() {
        return confirm("정말 삭제하시겠습니까?");
    }
</script>
</body>
</html>