html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h2, p {
    margin: 10px;
}
input {
    padding: 8px;
    margin-bottom: 8px;
}
#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    max-width: 1000px;      /* 화면 너비 제한 */
    margin: 0 auto;         /* 가운데 정렬 */
    box-sizing: border-box;
}

#sub_container {
    width: 90%;
    margin: 30px auto;
    padding: 1em;
    /*border: 5px solid #EFF5D2;*/
}

.center {
    text-align: center;
}
.right {
    text-align: right;
    padding-right: 1em;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #8FA31E;
    padding: 8px;
}

th {
    border: 1px solid #8FA31E;
    padding: 8px;
    text-align: center;
    color: black;
    font-weight: bold;
}

tr:nth-child(even){background-color: #EFF5D2;}
tr:hover {background-color: #C6D870;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #8FA31E;
    color: white;
    text-align: center;
}

/* Menu bar ----------
 Menu bar 영역  */

.navbar {
    display: flex;
    align-items: start;
    box-sizing: border-box;
    width: 1000px;
    overflow: hidden;
    background-color: #556B2F;
    margin: 20px auto;
}

.navbar a {
    /*float: left;*/
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    /*float: left;*/
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #C6D870;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #556B2F;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #8FA31E;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#userlogInOut{
    margin-left: auto; /* 오른쪽 끝으로 밀어냄 */
    display: flex;
    padding: 14px 16px;
    gap: 20px;
}

main {
    box-sizing: border-box;
    flex: 1; /* 본문이 남은 공간을 채움 */
    padding: 20px;
    width: 100%;
}

/* 메인 상단 검색어 */
.main-header {
    display: flex;
    align-items: center;
    gap: 20px; /* 이미지와 검색창 사이 간격 */
    padding: 10px;
    width: 550px;
    margin: 0 auto;
}

/* 로고 이미지 */
.logo {
    height: 40px; /* 로고 크기 조절 */
}

.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #007bff;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
}
.search-wrapper {
    display: inline-block;
    position: relative;
    width: 500px;
}
.search-input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* 오른쪽 공간 확보 */
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
}

.search-button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}
/*.search-input {*/
/*    width: 100%;*/
/*    padding: 10px 40px 10px 10px; !* 오른쪽에 아이콘 공간 확보 *!*/
/*    font-size: 16px;*/
/*    border: 2px solid #007bff;*/
/*    border-radius: 5px;*/
/*    outline: none;*/
/*}*/

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 18px;
    color: #007bff;
    cursor: pointer;
}

/* Footer ----------
 Footer 영역
 */
footer {
    position: relative;
    box-sizing: border-box;
    width: 1000px;
    color: #333;
    border-top: 5px solid #556B2F;
}
.footer-content {
    /*min-height: calc(100vh - 260px); /* 푸터 높이만큼 빼기 */

    padding: 20px;
    bottom: 0;
    max-width: 1000px;
    background-color: #EFF5D2;
}
.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}
.footer-links li {
    display: inline-block;
    margin: 0 10px;
}
.footer-links a {
    text-decoration: none;
    color: #333;
}
.copyright {
    margin-top: 15px;
}