<header th:fragment="header">
    <div>
        <h2>상단 이미지 및 타이틀</h2>
    </div>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="#news">주문관리</a>
        <div class="dropdown">
            <button class="dropbtn">회원관리
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/user/add">회원등록</a>
                <a href="/user/list">회원검색</a>
                <a href="/user/edit">회원수정</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">도서관리
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/book/new">도서등록</a>
                <a href="/book/list">도서목록</a>
                <a href=".book/user/edit">도서수정</a>
                <a href="#">도서삭제</a>
            </div>
        </div>
        <div id="userlogInOut">
            <div th:if="${session.loginUser == null}">
                <a href="/user/add">회원가입</a>
                <a href="/user/login">로그인</a>
            </div>
            <div th:if="${session.loginUser != null}">
                <div>
                    <a th:href="@{/user/edit/{id}(id=${session.loginUser.custId})}">회원정보 수정</a>
                    <a href="/order/history">주문 내역</a>
                </div>
                <div>
                    <strong th:text="${session.loginUser.userName}"></strong>
                    <form style="display: inline-block" action="/user/logout">
                    <button type="submit">로그아웃</button>
                    </form>
            </div>
        </div>
    </nav>
    <div class="main-header">
        <img class="logo" src="https://image.yes24.com/sysimage/renew/gnb/logoN4.svg" alt="로고 이미지">
        <div class="search-wrapper">
            <form method="get" th:action="@{/search}">
                <input type="search" name="bookname" id="searchInput" class="search-input" placeholder="검색어를 입력하세요"
                       style="padding: 10px; font-size: 1.5em; border: 1px solid #8FA31E" size="30"/>
                <button type="submit" class="search-icon">🔍</button>
            </form>
        </div>
    </div>
</header>