<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>도서 등록</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<div id="container">
    <!-- 프래그먼트 삽입 -->
    <header th:replace="common/header :: header"></header>
    <main>
        <h1>📘 새 도서 등록</h1>
        <form th:action="@{/book/add}" method="post" enctype="multipart/form-data">
            <div>
                <label for="bookname">도서명:</label>
                <input type="text" id="bookname" name="bookname" required>
            </div>
            <div>
                <label for="publisher">출판사:</label>
                <input type="text" id="publisher" name="publisher" required>
            </div>
            <div>
                <label for="price">가격:</label>
                <input type="number" id="price" name="price" required>
            </div>
            <div>
                <label for="content" style="vertical-align: top">목차</label>
                <textarea id="content" rows="5" cols="30" name="content"></textarea>
            </div>
            <div>
                <label for="writer">저자:</label>
                <input type="text" id="writer" name="writer" required>
            </div>
            <div>
                <label for="imageFile">이미지:</label>
                <input type="file" id="imageFile" name="imageFile">
            </div>
            <button type="submit">도서등록</button>
        </form>
    </main>
    <footer th:replace="common/footer :: footer"></footer>
</div>
</body>
</html>