<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원 정보 수정</title>
</head>
<body>
<h1>회원 정보 수정</h1>
<form th:action="@{/users/edit}" th:object="${user}" method="post">
    <label>ID: <input type="text" th:field="*{id}" readonly /></label><br/>
    <label>이름: <input type="text" th:field="*{name}" /></label><br/>
    <label>생년월일: <input type="date" th:field="*{birthDay}" /></label><br/>
    <label>이메일: <input type="email" th:field="*{email}" /></label><br/>
    <button type="submit">수정 완료</button>
</form>
<a href="/users">목록으로</a>
</body>
</html>
