<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/calc" method="post">
        숫자1 : <input type="number" name="num1" th:value="${num1 !=null ?num1:0}"><br>
        숫자2 : <input type="number" name="num2" th:value="${num2 !=null ?num2:0}"><br>
        <input type="submit" name="op" value="+">
        <input type="submit" name="op" value="-">
        결과: <input type="text" th:value="${result !=null ?result:0}"><br>
    </form>
</body>
</html>