<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
</head>
<body>
    <h1>도서관리 시스템</h1>
    <div th:if="${session.loginUser == null}" >
        <a href="/user/add">회원가입</a>
        <a href="/user/login">로그인</a>
    </div>
    <div th:if="${session.loginUser != null}">
        <p th:text="${session.loginUser.userName}">님, 환영합니다.</p>
        <form action="/user/logout">
            <button type="submit">로그아웃</button>
        </form>
    </div>

    <div id="bookContent">
        <h2> 구매 가능 도서 목록 </h2>
        <table>
            <thead>
                <tr>
                    <th> 순 번 </th>
                    <th> 책 제목 </th>
                    <th> 출 판 사 </th>
                    <th> 가 격 </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book, stat : ${books}">
                    <td th:text="${stat.index+1}"></td>
                    <td>
                        <a th:href="@{/book/detail/{id}(id=${book.bookid})}" th:text="${book.bookname}"></a>
                    </td>
                    <td th:text="${book.publisher}"></td>
                    <td th:text="${book.price}"></td>
                </tr>
            </tbody>
        </table>

    </div>


</body>
</html>